body,
.container {
  align-items: end;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  .boardCastIcon {
    color: rgba(var(--arcoblue-6), 0.8);
    font-size: 60px;
  }

  .manualEntry {
    color: rgba(var(--arcoblue-6), 0.8);
    cursor: pointer;
    margin-top: 5px;
  }
}

.prompt {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: scale-in;
  color: rgba(var(--arcoblue-6), 0.8);
  font-size: 20px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 40%;
  user-select: none;
  width: 100%;
}

.github {
  color: var(--color-text-1);
  font-size: 23px;
  position: fixed;
  right: 12px;
  top: 6px;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.deviceGroup {
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 40%;
  user-select: none;
  width: 100%;

  .device {
    align-items: center;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: scale-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;


    .icon {
      align-items: center;
      background-color: rgba(var(--arcoblue-6), 0.8);
      border-radius: 70px;
      color: #fff;
      display: flex;
      font-size: 30px;
      height: 70px;
      justify-content: center;
      width: 70px;
    }

    .name {
      color: var(--color-text-1);
      margin-top: 6px;
    }
  }
}
