@import '../../node_modules/@block-kit/utils/dist/style/vars';

.container {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.captainArea {
  align-items: center;
  border-bottom: 1px solid var(--color-border-1);
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px;

  .captainName {
    font-weight: bold;
    margin-top: 2px;
  }

  .captain {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .disconnect {
    cursor: pointer;
    margin-right: 15px;
  }
}

.dot {
  border-radius: 50%;
  height: 8px;
  margin-top: 3px;
  width: 8px;
}

.messageArea {
  @include no-scrollbar;

  flex: 1 0;
  overflow-y: auto;
  padding: 5px 10px;

  .messageItem {
    align-items: center;
    display: flex;
    margin: 10px 0;
  }

  .systemMessage {
    background-color: var(--color-fill-2);
    border-radius: 10px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    user-select: none;
  }
}

.inputArea {
  border-top: 1px solid var(--color-border-1);
  height: 130px;
}
