.container {
  align-items: center;
  background-color: var(--color-fill-1);
  border-right: 1px solid var(--color-fill-1);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  width: 60px;
}

.avatar {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.dot {
  border-radius: 50%;
  bottom: 0;
  height: 8px;
  position: absolute;
  right: 0;
  width: 8px;
}

.name {
  box-sizing: border-box;
  color: var(--color-text-2);
  font-size: 11px;
  margin-top: 8px;
  max-width: 100%;
  padding: 0 5px;
}

.netTab {
  align-items: center;
  border-radius: 10px;
  color: var(--color-text-2);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin-top: 15px;
  width: 40px;

  &:hover,
  &.active {
    background-color: var(--color-fill-3);
  }
}

:global(.webrtc-im-mobile) {
  .container {
    box-sizing: border-box;
    flex-direction: row;
    height: unset;
    justify-content: space-between;
    padding: 8px 20px;
    width: 100%;

    * {
      // pointer 会导致移动端点击出现蓝色 highlight
      cursor: unset !important;
    }
  }

  .avatar {
    height: 40px;
    width: 60px;
  }

  .name {
    font-size: 10px;
    margin-top: 1px;
  }

  .netTab {
    margin-top: unset;
    width: 60px;

    &:hover,
    &.active {
      background-color: var(--color-fill-3);
    }
  }
}
