.container {
  align-items: center;
  display: flex;
  flex: 1 0;
  justify-content: center;
  pointer-events: none;
  position: relative;
  user-select: none;
}

.prompt {
  color: rgba(var(--arcoblue-6), 1);
  font-size: 15px;
  margin-top: -140px;
  user-select: none;
}

.boardCastIcon {
  bottom: -3px;
  color: rgba(var(--arcoblue-6), 0.7);
  font-size: 33px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.canvas {
  position: absolute;
}
